<div>
    <h2>Bob ID: <%= bob.id %></h2>
    <h4>Bob Creator: <%= bob.creator %></h4>
    <h4>Bob Weapon: <%= bob.weapons_id %></h4>
    <h4>Bob Beverage: <%= bob.beverages_id %></h4>
    <h4>Bob Tip: <%= bob.tips_id %></h4>
</div>
